@font-face {
    font-family: 'Arvo';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/arvo/v20/tDbD2oWUg0MKqScQ7Z7o_vo.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* Custom Properties */
:root {
    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: white;
    --clr-dark: #303030;
    --clr-accent: lightblue;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25), 
    0.125em 0.125em 0.25em rgba(0,0,0,0.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: 'Arvo';
    font-size: var(--fs-body);
    line-height: 1.6;
}

img {
    display: block;
    max-width: 100%;
}

/* Typography */

div {
    padding: 5em 2em;
}

strong { font-weight: var(--fw-bold);}

h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;
}

h1 {font-size: var(--fs-h1);}
h2 {font-size: var(--fs-h2);}
h3 {font-size: var(--fs-h3);}


.page__title {
    margin-bottom: 0.25em;
}

/* Nav */
nav { display: none;}

/* Project Section */
.projects {
    background-color: var(--clr-dark);
    background-image: url(../img/xxxxx);
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-light);
    text-align: center;
}

.projects__title {
    color: var(--clr-accent);
    position: relative;
}

/* Small line */
.projects__title::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background-color: currentColor;
    opacity: 0.25;
}

.project {
    max-width: 500px;
    margin: 0 auto;
}

@media (min-width: 800px) {
    .project__columns {
        display: flex;
        max-width: 1000px;
        margin: 0 auto;
    }

    .project * .project {
        margin-left: 2em;
    }
}