@font-face {
    font-family: 'Arvo';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/arvo/v20/tDbD2oWUg0MKqScQ7Z7o_vo.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* Custom Properties */
:root {
    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #f3f3f3;
    --clr-dark: #303030;
    --clr-accent: #d5f8ff;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25), 
    0.125em 0.125em 0.25em rgba(0,0,0,0.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: 'Arvo';
    font-size: var(--fs-body);
    line-height: 1.6;
}

img {
    display: block;
    max-width: 100%;
}

/* Typography */

div {
    padding: 5em 2em;
}

strong { font-weight: var(--fw-bold);}

h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;
}

h1 {font-size: var(--fs-h1);}
h2 {font-size: var(--fs-h2);}
h3 {font-size: var(--fs-h3);}


.page__title {
    margin-bottom: 0.25em;
}

.intro__title {
    font-weight: var(--fw-reg);
}

.intro__title strong {
    display: block;
}

.page__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.intro__subtitle {
    background: var(--clr-accent);

}

/* Header */

header {
    height: 8em;
    background-image: linear-gradient(to bottom, var(--clr-accent), var(--clr-light));
}

nav { 
    display: none;
    background-color: var(--clr-accent);
}

/* Intro Section */

.intro {
    position: relative;
}

.logo {
    position: relative;
    padding-top: 1em;
    padding-left: 2em;
    background-color: transparent;
    width: 300px;
}


@media (min-width: 600px) {
    header {
        height: 8em;
    }
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
        box-shadow: var(--bs);
        border-radius: 5px;
    }

    .intro__img:hover {
        transform: scale(1.12);
        opacity: 1;
        transition-delay: 0.1s;
        transition-duration: 0.8s;
        transition-timing-function: ease-in;
        box-shadow: 0.45em 0.45em 0.95em rgba(0, 0, 0, 0.45), 
        0.25em 0.25em 0.5em rgba(0,0,0,0.35);;
    }

    .intro__subtitle {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
        padding-right: 5em;
        border-radius: 3px;
    }

    .logo {
        display: grid;
        width: 20%;
        margin: 0, auto;
        padding-top: 0.8em;
        padding-left: 2.5em;
        background-color: transparent;
    }

    .logo__img {
        grid-area: img;
        position: relative;
        min-width: 200px;
    }

    .logo__img:hover {
        transform: scale(1.08);
        opacity: 1;
        transition-delay: 0.1s;
        transition-duration: 0.5s;
        transition-timing-function: ease-in;
    }
}

